alemartin_aplikacija_2/alemartin_aplikacija_2-war/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/alemartin_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.alemartin.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.alemartin.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.alemartin.nwtis.foi.org/" schemaLocation="http://localhost:8084/alemartin_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajMeteoPodatke">
<part name="parameters" element="tns:dajMeteoPodatke"/>
</message>
<message name="dajMeteoPodatkeResponse">
<part name="parameters" element="tns:dajMeteoPodatkeResponse"/>
</message>
<message name="dajMeteoPodatkeInterval">
<part name="parameters" element="tns:dajMeteoPodatkeInterval"/>
</message>
<message name="dajMeteoPodatkeIntervalResponse">
<part name="parameters" element="tns:dajMeteoPodatkeIntervalResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajZadnjePreuzeteMeteoPodatke">
<part name="parameters" element="tns:dajZadnjePreuzeteMeteoPodatke"/>
</message>
<message name="dajZadnjePreuzeteMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjePreuzeteMeteoPodatkeResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajMeteoPodatke">
<input wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeRequest" message="tns:dajMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeResponse" message="tns:dajMeteoPodatkeResponse"/>
</operation>
<operation name="dajMeteoPodatkeInterval">
<input wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeIntervalRequest" message="tns:dajMeteoPodatkeInterval"/>
<output wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeIntervalResponse" message="tns:dajMeteoPodatkeIntervalResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajZadnjePreuzeteMeteoPodatke">
<input wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajZadnjePreuzeteMeteoPodatkeRequest" message="tns:dajZadnjePreuzeteMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.alemartin.nwtis.foi.org/GeoMeteoWS/dajZadnjePreuzeteMeteoPodatkeResponse" message="tns:dajZadnjePreuzeteMeteoPodatkeResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeInterval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjePreuzeteMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/alemartin_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>